.jumbotron {
    background-image: url(images/battleropes.jpg);
}

#freeWeights {
    size: 250px;
}

.row-content {
    padding: 40px;
    margin: 1px;
}

body {
    background-color: rgb(224, 224, 224);
}

.site-footer {
    background-color: rgb(255, 147, 147);
}

#freeWeights {
    margin: 0px;
}

#membershipBody{
    background-image: url(https://images.unsplash.com/photo-1623874514711-0f321325f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGd5bXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}